
<div class="span6 offset3 boxy text-center">
	<h1 class="h1-custom">Hi I'm Tiffany</h1>

	<br/>

	<h2>I'm learning web development!</h2>

	<br/>
	<br/>

	<%= link_to 'Launch', '#', :class => 'btn btn-large'  %>

</div>