


<% @pics.each do |pic| %>

	<div class="span4 boxy text-center">
		<h1 class="h1-custom"> 
		Lesson: <%= pic.lesson %>	
		</h1>
   		
		<%= image_tag pic.image %>


   		<br />
		<h2>
		Emotion: <%= pic.emotion %>
		<br />	
		Learned: <%= pic.learned %>
		<br />
		</h2>
	
	</div>

<% end %>
